"""klarna.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from klarna.api_helper import APIHelper
from klarna.apis.base_api import BaseApi
from klarna.configuration import Server
from klarna.exceptions.api_exception import (
    ApiException,
)
from klarna.exceptions.cancel_not_allowed_error_message_exception import (
    CancelNotAllowedErrorMessageException,
)
from klarna.exceptions.cancel_order_request_status_no_request_found_exception import (
    CancelOrderRequestStatusNoRequestFoundException,
)
from klarna.exceptions.error_response_exception import (
    ErrorResponseException,
)
from klarna.http.http_method_enum import HttpMethodEnum
from klarna.models.cancel_order_request_status import (
    CancelOrderRequestStatus,
)
from klarna.models.cancel_order_request_status_cancelled import (
    CancelOrderRequestStatusCancelled,
)
from klarna.models.customer_token_creation_response import (
    CustomerTokenCreationResponse,
)
from klarna.models.merchant_session import MerchantSession
from klarna.models.order import Order
from klarna.models.payout import Payout
from klarna.models.payout_collection import (
    PayoutCollection,
)
from klarna.models.payout_summary import PayoutSummary
from klarna.models.promise_created_response import (
    PromiseCreatedResponse,
)
from klarna.models.promise_response import PromiseResponse
from klarna.models.session_creation_response_v_1 import (
    SessionCreationResponseV1,
)
from klarna.models.session_read import SessionRead
from klarna.models.session_response_v_1 import (
    SessionResponseV1,
)
from klarna.models.settlement_response import (
    SettlementResponse,
)
from klarna.models.transaction_collection import (
    TransactionCollection,
)


class Api(BaseApi):
    """A Controller to access Endpoints in the klarna API."""

    def __init__(self, config):
        """Initialize Api object."""
        super(Api, self).__init__(config)

    def create_hpp_session(self,
                           body,
                           user_agent=None):
        """Perform a POST request to /hpp/v1/sessions.

        Use this API to create an HPP session after creating a payment session.
        Read more on **[Create a new HPP
        session](https://docs.klarna.com/hosted-payment-page/api-documentation/create-
        session/)**.

        Args:
            body (SessionCreationRequestV1): sessionRequest
            user_agent (str, optional): User-Agent

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successfully created
                HPP session

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/hpp/v1/sessions")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("User-Agent")
                .value(user_agent))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SessionCreationResponseV1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "We were unable to create a session with the provided data. Some fiel"
                "d constraint was violated.",
                ApiException)
            .local_error("401", "Unauthorized", ApiException)
            .local_error("403",
                "You were not authorized to execute this operation.",
                ApiException)
            .local_error("404", "Payment session has expired.", ApiException),
        ).execute()

    def get_session_by_id(self,
                          session_id):
        """Perform a GET request to /hpp/v1/sessions/{session_id}.

        Use this API to read an HPP session content and it's status.
        Read more on **[Read HPP
        session](https://docs.klarna.com/hosted-payment-page/api-documentation/read-se
        ssion/)**.

        Args:
            session_id (str): HPP session id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Session found

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/hpp/v1/sessions/{session_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("session_id")
                .value(session_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SessionResponseV1.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", ApiException)
            .local_error("403",
                "You were not authorized to execute this operation.",
                ApiException)
            .local_error("404",
                "HPP session has expired or could not be found by provided id.",
                ApiException),
        ).execute()

    def disable_hpp_session(self,
                            session_id):
        """Perform a DELETE request to /hpp/v1/sessions/{session_id}.

        Use this API to disable an HPP session if payment session had to be cancelled
        for any reason.
        Read more on **[Disable HPP
        session](https://docs.klarna.com/hosted-payment-page/api-documentation/disable
        -session/)**.

        Args:
            session_id (str): HPP session id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Session was disabled

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/hpp/v1/sessions/{session_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("session_id")
                .value(session_id)
                .is_required(True)
                .should_encode(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400",
                "HPP session has already been successfully completed.",
                ApiException)
            .local_error("401", "Unauthorized", ApiException)
            .local_error("403",
                "You were not authorized to execute this operation.",
                ApiException)
            .local_error("404",
                "HPP session has expired or could not be found by provided id.",
                ApiException),
        ).execute()

    def distribute_hpp_session(self,
                               session_id,
                               body):
        """Perform a POST request to
        /hpp/v1/sessions/{session_id}/distribution.

        Use this API to distribute to the Consumer a link to the Hosted Payment Page
        either by e-mail or SMS after you have created an HPP session.
        Read more on **[Distribute link to the HPP Session to the
        Consumer](https://docs.klarna.com/hosted-payment-page/api-documentation/distri
        bute-session/)**.

        Args:
            session_id (str): HPP session id
            body (DistributionRequestV1): Distribution Request parameters

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/hpp/v1/sessions/{session_id}/distribution")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("session_id")
                .value(session_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400",
                "We were unable to distribute the link with the provided data. Some f"
                "ield constraint was violated. Or session is disabled by merchant.",
                ApiException)
            .local_error("401", "Unauthorized", ApiException)
            .local_error("403", "Forbidden", ApiException)
            .local_error("404",
                "HPP session not found or access token not found",
                ApiException)
            .local_error("503",
                "We were unable to distribute the link due to an internal error. Plea"
                "se try again",
                ApiException),
        ).execute()

    def create_promise(self,
                       body=None):
        """Perform a POST request to /merchantcard/v3/promises.

        To create a card promise, provide a purchase currency and the cards to be
        created. The old promise is automatically invalidated if a new promise is
        created for an order.

        Args:
            body (PromiseRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchantcard/v3/promises")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PromiseCreatedResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ApiException)
            .local_error("503", "Service unavailable", ApiException),
        ).execute()

    def read_promise(self,
                     promise_id):
        """Perform a GET request to /merchantcard/v3/promises/{promise_id}.

        To get the promise resource, simply provide a promise identifier.

        Args:
            promise_id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchantcard/v3/promises/{promise_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("promise_id")
                .value(promise_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PromiseResponse.from_dictionary)
            .is_api_response(True)
            .local_error("403", "Forbidden", ApiException)
            .local_error("404", "Not found", ApiException),
        ).execute()

    def settle_promise(self,
                       body=None):
        """Perform a POST request to /merchantcard/v3/settlements.

        To create a settlement resource, provide a completed order identifier and
        (optionally) a promise identifier.

        Args:
            body (SettlementRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchantcard/v3/settlements")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SettlementResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ApiException)
            .local_error("403", "Forbidden", ApiException)
            .local_error("503", "Service unavailable", ApiException),
        ).execute()

    def read_settlement(self,
                        settlement_id,
                        key_id):
        """Perform a GET request to
        /merchantcard/v3/settlements/{settlement_id}.

        To get the settlement resource, provide the settlement identifier.

        Args:
            settlement_id (str): Unique settlement identifier.
            key_id (str): Unique identifier for the public key used for encryption of
                the card data.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchantcard/v3/settlements/{settlement_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("settlement_id")
                .value(settlement_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("KeyId")
                .value(key_id)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SettlementResponse.from_dictionary)
            .is_api_response(True)
            .local_error("403", "Forbidden", ApiException)
            .local_error("404", "Not Found", ApiException),
        ).execute()

    def read_settlement_by_order_id(self,
                                    order_id,
                                    key_id):
        """Perform a GET request to
        /merchantcard/v3/settlements/order/{order_id}.

        To get the order's settlement resource, provide the order identifier.

        Args:
            order_id (str): Unique identifier for the order associated to the
                settlement.
            key_id (str): Unique identifier for the public key used for encryption of
                the card data.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchantcard/v3/settlements/order/{order_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("KeyId")
                .value(key_id)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SettlementResponse.from_dictionary)
            .is_api_response(True)
            .local_error("403", "Forbidden", ApiException)
            .local_error("404", "Not Found", ApiException),
        ).execute()

    def postcancelorder(self,
                        order_id):
        """Perform a POST request to
        /merchantcard/v3/orders/{order_id}/cancel-request.

        Request cancellation for an order. If the order is already cancelled, a `200`
        status is returned.
        Otherwise, the order will be queued for cancellation with a `202` status.
        Actual order cancellation will happen asynchronously at a later time. You can
        call the corresponding GET endpoint to view the status of the request.
        This cancellation endpoint is limited to the scope of the Virtual Credit
        Cards product. Therefore the order provided must have an associated Virtual
        Card Settlement, otherwise the call will fail.

        Args:
            order_id (str): Order id you wish to cancel. This order must have an
                associated Virtual Credit Card Settlement.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Order is already
                cancelled.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchantcard/v3/orders/{order_id}/cancel-request")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CancelOrderRequestStatusCancelled.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ApiException)
            .local_error("403",
                "You do not have permission to execute this operation.",
                ApiException)
            .local_error("404",
                "Order does not exist or does not have an associated Virtual Credit C"
                "ard Settlement.",
                ApiException)
            .local_error("503", "Service unavailable", ApiException),
        ).execute()

    def getcancelorder(self,
                       order_id):
        """Perform a GET request to
        /merchantcard/v3/orders/{order_id}/cancel-request.

        Get the status of an order cancellation request. The order must have an
        associated Virtual Credit Card Settlement.

        Args:
            order_id (str): Order id for which to view its cancellation status. This
                order must have an associated Virtual Credit Card Settlement.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successfully retrieved
                the status of the cancellation request for this order.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/merchantcard/v3/orders/{order_id}/cancel-request")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CancelOrderRequestStatus.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request, or the order was not previously requested for cancellat"
                "ion by calling the POST endpoint.",
                CancelOrderRequestStatusNoRequestFoundException)
            .local_error("403",
                "You do not have permission to execute this operation.",
                ApiException)
            .local_error("404",
                "Order does not exist or does not have an associated Virtual Credit C"
                "ard Settlement.",
                ApiException)
            .local_error("503", "Service unavailable", ApiException),
        ).execute()

    def create_credit_session(self,
                              body):
        """Perform a POST request to /payments/v1/sessions.

        Use this API call to create a Klarna Payments session.<br/>When a session is
        created you will receive the available `payment_method_categories` for the
        session, a `session_id` and a `client_token`. The `session_id` can be used to
        read or update the session using the REST API. The `client_token` should be
        passed to the browser.
        Read more on **[Create a new payment
        session](https://docs.klarna.com/klarna-payments/integrate-with-klarna-payment
        s/step-1-initiate-a-payment/)**.

        Args:
            body (SessionCreate): session_request

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/v1/sessions")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MerchantSession.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "We were unable to create a session with the provided data. Some fiel"
                "d constraint was violated.",
                ApiException)
            .local_error("403",
                "You were not authorized to execute this operation.",
                ApiException),
        ).execute()

    def update_credit_session(self,
                              session_id,
                              body):
        """Perform a POST request to /payments/v1/sessions/{session_id}.

        Use this API call to update a Klarna Payments session with new details, in
        case something in the order has changed and the checkout has been reloaded.
        Including if the consumer adds a new item to the cart or if consumer details
        are updated.
        Read more on **[Update an existing payment
        session](https://docs.klarna.com/klarna-payments/other-actions/update-the-cart
        /)**.

        Args:
            session_id (str): session_id
            body (Session): session_request

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The session was updated
                successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/v1/sessions/{session_id}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("session_id")
                .value(session_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400",
                "We were unable to update the session with the provided data. Some fi"
                "eld constraint was violated.",
                ApiException)
            .local_error("403",
                "You were not authorized to execute this operation.",
                ApiException)
            .local_error("404", "The session does not exist.", ApiException),
        ).execute()

    def read_credit_session(self,
                            session_id):
        """Perform a GET request to /payments/v1/sessions/{session_id}.

        Use this API call to get a Klarna Payments session. You can read the Klarna
        Payments session at any time after it has been created, to get information
        about it. This will return all data that has been collected during the
        session.
        Read more on **[Read an existing payment
        session](https://docs.klarna.com/klarna-payments/other-actions/check-the-detai
        ls-of-a-payment-session/)**.

        Args:
            session_id (str): session_id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful operation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/v1/sessions/{session_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("session_id")
                .value(session_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SessionRead.from_dictionary)
            .is_api_response(True)
            .local_error("403",
                "You were not authorized to execute this operation.",
                ApiException)
            .local_error("404", "The session does not exist.", ApiException),
        ).execute()

    def cancel_authorization(self,
                             authorization_token):
        """Perform a DELETE request to
        /payments/v1/authorizations/{authorizationToken}.

        Use this API call to cancel/release an authorization. If the
        `authorization_token` received during a Klarna Payments won’t be used to
        place an order immediately you could release the authorization.
        Read more on **[Cancel an existing
        authorization](https://docs.klarna.com/klarna-payments/other-actions/cancel-an
        -authorization/)**.

        Args:
            authorization_token (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The authorization was
                cancelled successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/v1/authorizations/{authorizationToken}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("authorizationToken")
                .value(authorization_token)
                .is_required(True)
                .should_encode(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("403",
                "You were not authorized to execute this operation.",
                ApiException)
            .local_error("404", "The authorization does not exist.", ApiException),
        ).execute()

    def create_order(self,
                     authorization_token,
                     body=None):
        """Perform a POST request to
        /payments/v1/authorizations/{authorizationToken}/order.

        Use this API call to create a new order. Placing an order towards Klarna
        means that the Klarna Payments session will be closed and that an order will
        be created in Klarna's system.<br/>When you have received the
        `authorization_token` for a successful authorization you can place the order.
        Among the other order details in this request, you include a URL to the
        confirmation page for the customer.<br/>When the Order has been successfully
        placed at Klarna, you need to handle it either through the Merchant Portal or
        using [Klarna’s Order Management API](#order-management-api).
        Read more on **[Create a new
        order](https://docs.klarna.com/klarna-payments/integrate-with-klarna-payments/
        step-3-create-an-order/)**.

        Args:
            authorization_token (str): The request template parameter.
            body (CreateOrderRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Order was successfully
                created.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/v1/authorizations/{authorizationToken}/order")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("authorizationToken")
                .value(authorization_token)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Order.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "We were unable to create an order with the provided data. Some field"
                " constraint was violated.",
                ApiException)
            .local_error("403",
                "You were not authorized to execute this operation.",
                ApiException)
            .local_error("404", "The authorization does not exist.", ApiException)
            .local_error("409",
                "The data in the request does not match the session for the authoriza"
                "tion.",
                ApiException),
        ).execute()

    def purchase_token(self,
                       authorization_token,
                       body=None):
        """Perform a POST request to
        /payments/v1/authorizations/{authorizationToken}/customer-token.

        Use this API call to create a Klarna Customer Token.<br/>After having
        obtained an `authorization_token` for a successful authorization, this can be
        used to create a purchase token instead of placing the order. Creating a
        Klarna Customer Token results in Klarna storing customer and payment method
        details.
        Read more on **[Generate a customer
        token](https://docs.klarna.com/klarna-payments/in-depth-knowledge/customer-tok
        en/)**.

        Args:
            authorization_token (str): The request template parameter.
            body (CustomerTokenCreationRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Token was successfully
                created.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/payments/v1/authorizations/{authorizationToken}/customer-token")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("authorizationToken")
                .value(authorization_token)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CustomerTokenCreationResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "We were unable to create a customer token with the provided data. So"
                "me field constraint was violated.",
                CancelNotAllowedErrorMessageException)
            .local_error("403",
                "You were not authorized to execute this operation.",
                ApiException)
            .local_error("404", "The authorization does not exist.", ApiException)
            .local_error("409",
                "The data in the request does not match the session for the authoriza"
                "tion.",
                ApiException),
        ).execute()

    def get_payout_summary(self,
                           start_date,
                           end_date,
                           currency_code=None):
        """Perform a GET request to /payouts/summary.

        Returns a summary of payouts for each currency code in a date range.

        Args:
            start_date (datetime): ISO 8601 date time format. This is a filter for
                the payout date. If no time is given then it defaults to the start of
                the day, ie 00:00:00. For example 2020-01-23 -> 2020-01-23T00:00:00Z.
                For this reason we recommend too use the full datetime like
                2020-01-23T00:00:00Z.
            end_date (datetime): ISO 8601 date time format. This is a filter for the
                payout date. If no time is given then it defaults to the start of the
                day, ie 00:00:00. This might lead to unwanted side effects like when
                the start date and end date might be the same because it would
                request payouts between 2020-01-23T00:00:00Z and
                2020-01-23T00:00:00Z. Instead we advise to use a full datetime like
                2020-01-23T23:59:59Z.
            currency_code (str, optional): An optional currency code to filter the
                result for different currencies. If not provided the result returned
                in the response might include multiple results grouped by the
                currency. The currency should be provided by an ISO 4217 Currency
                Code like USD, EUR, AUD or GBP.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Payout summaries

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/payouts/summary")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("start_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    start_date))
                .is_required(True))
            .query_param(Parameter()
                .key("end_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    end_date))
                .is_required(True))
            .query_param(Parameter()
                .key("currency_code")
                .value(currency_code))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PayoutSummary.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad request", ErrorResponseException),
        ).execute()

    def get_payout(self,
                   payment_reference):
        """Perform a GET request to /payouts/{payment_reference}.

        Returns a specific payout based on a given payment reference.

        Args:
            payment_reference (str): The reference id of the payout. Normally this
                reference can be found on your payment slip statement of your bank.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A payout

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/payouts/{payment_reference}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("payment_reference")
                .value(payment_reference)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Payout.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad request", ErrorResponseException)
            .local_error("404", "Not found", ErrorResponseException),
        ).execute()

    def get_payouts(self,
                    start_date=None,
                    end_date=None,
                    currency_code=None,
                    size=20,
                    offset=0):
        """Perform a GET request to /payouts.

        Returns a collection of payouts.

        Args:
            start_date (datetime, optional): ISO 8601 date time format. This is a
                filter for the payout date. If no time is given then it defaults to
                the start of the day, ie 00:00:00. For example 2020-01-23 ->
                2020-01-23T00:00:00Z. For this reason we recommend too use the full
                datetime like 2020-01-23T00:00:00Z.
            end_date (datetime, optional): ISO 8601 date time format. This is a
                filter for the payout date. If no time is given then it defaults to
                the start of the day, ie 00:00:00. This might lead to unwanted side
                effects like when the start date and end date might be the same
                because it would request payouts between 2020-01-23T00:00:00Z and
                2020-01-23T00:00:00Z. Instead we advise to use a full date time like
                2020-01-23T23:59:59Z.
            currency_code (str, optional): An optional currency code to filter the
                result for different currencies. If not provided the result returned
                in the response might include multiple results grouped by the
                currency. The currency should be provided by an ISO 4217 Currency
                Code like USD, EUR, AUD or GBP.
            size (int, optional): How many elements to include in the result. If no
                value for size is provided, a default of 20 will be used. A maximum
                of 500 can be set
            offset (int, optional): The current offset. Describes "where" in a
                collection the current starts.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A collection of payouts

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/payouts")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("start_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    start_date)))
            .query_param(Parameter()
                .key("end_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    end_date)))
            .query_param(Parameter()
                .key("currency_code")
                .value(currency_code))
            .query_param(Parameter()
                .key("size")
                .value(size))
            .query_param(Parameter()
                .key("offset")
                .value(offset))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PayoutCollection.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad request", ErrorResponseException),
        ).execute()

    def get_payout_report_with_transactions(self,
                                            payment_reference):
        """Perform a GET request to /reports/payout-with-transactions.

        More information about this CSV format is available at:
        https://docs.klarna.com/settlement-reports

        Args:
            payment_reference (str): The reference id of the payout

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A payout

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/reports/payout-with-transactions")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("payment_reference")
                .value(payment_reference)
                .is_required(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400", "Bad request", ErrorResponseException)
            .local_error("404", "Not found", ErrorResponseException),
        ).execute()

    def payout(self,
               payment_reference):
        """Perform a GET request to /reports/payout.

        A single settlement summed up in pdf format

        Args:
            payment_reference (str): The reference id of the payout

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A payout

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/reports/payout")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("payment_reference")
                .value(payment_reference)
                .is_required(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400", "Bad request", ApiException)
            .local_error("404", "Not found", ApiException),
        ).execute()

    def get_transactions(self,
                         payment_reference=None,
                         order_id=None,
                         size=20,
                         offset=0):
        """Perform a GET request to /transactions.

        Returns a collection of transactions.

        Args:
            payment_reference (str, optional): The reference id of the payout
            order_id (str, optional): The Klarna assigned order id reference
            size (int, optional): How many elements to include in the result. If no
                value for size is provided, a default of 20 will be used. A maximum
                of 500 can be set.
            offset (int, optional): The current offset. Describes "where" in a
                collection the current starts.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A collection of payouts

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/transactions")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("payment_reference")
                .value(payment_reference))
            .query_param(Parameter()
                .key("order_id")
                .value(order_id))
            .query_param(Parameter()
                .key("size")
                .value(size))
            .query_param(Parameter()
                .key("offset")
                .value(offset))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransactionCollection.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad request", ErrorResponseException),
        ).execute()

    def get_payouts_summary_report_with_transactions(self,
                                                     start_date,
                                                     end_date):
        """Perform a GET request to /reports/payouts-summary-with-transactions.

        More information about this CSV format is available at:
        https://docs.klarna.com/settlement-reports

        Args:
            start_date (datetime): ISO 8601 date time format. This is a filter for
                the payout date. If no time is given then it defaults to the start of
                the day, ie 00:00:00. For example 2020-01-23 -> 2020-01-23T00:00:00Z.
                For this reason we recommend too use the full datetime like
                2020-01-23T00:00:00Z.
            end_date (datetime): ISO 8601 date time format. This is a filter for the
                payout date. If no time is given then it defaults to the start of the
                day, ie 00:00:00. This might lead to unwanted side effects like when
                the start date and end date might be the same because it would
                request payouts between 2020-01-23T00:00:00Z and
                2020-01-23T00:00:00Z. Instead we advise to use a full date time like
                2020-01-23T23:59:59Z.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A summary of payouts

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/reports/payouts-summary-with-transactions")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("start_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    start_date))
                .is_required(True))
            .query_param(Parameter()
                .key("end_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    end_date))
                .is_required(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400", "Bad request", ErrorResponseException),
        ).execute()

    def payouts_summary(self,
                        start_date,
                        end_date):
        """Perform a GET request to /reports/payouts-summary.

        Returns a summary for all payouts between the given dates

        Args:
            start_date (datetime): ISO 8601 date time format. This is a filter for
                the payout date. If no time is given then it defaults to the start of
                the day, ie 00:00:00. For example 2020-01-23 -> 2020-01-23T00:00:00Z.
                For this reason we recommend too use the full datetime like
                2020-01-23T00:00:00Z.
            end_date (datetime): ISO 8601 date time format. This is a filter for the
                payout date. If no time is given then it defaults to the start of the
                day, ie 00:00:00. This might lead to unwanted side effects like when
                the start date and end date might be the same because it would
                request payouts between 2020-01-23T00:00:00Z and
                2020-01-23T00:00:00Z. Instead we advise to use a full date time like
                2020-01-23T23:59:59Z.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A summary of payouts

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/reports/payouts-summary")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("start_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    start_date))
                .is_required(True))
            .query_param(Parameter()
                .key("end_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    end_date))
                .is_required(True)),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400", "Bad request", ApiException),
        ).execute()
