"""klarna.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from klarna.api_helper import APIHelper
from klarna.apis.base_api import BaseApi
from klarna.configuration import Server
from klarna.exceptions.capture_not_allowed_error_message_exception import (
    CaptureNotAllowedErrorMessageException,
)
from klarna.exceptions.error_message_dto_exception import (
    ErrorMessageDtoException,
)
from klarna.exceptions.no_such_capture_error_message_exception import (
    NoSuchCaptureErrorMessageException,
)
from klarna.exceptions.no_such_order_error_message_exception import (
    NoSuchOrderErrorMessageException,
)
from klarna.exceptions.not_allowed_error_message_exception import (
    NotAllowedErrorMessageException,
)
from klarna.http.http_method_enum import HttpMethodEnum
from klarna.models.capture import Capture
from klarna.models.extend_due_date_options import (
    ExtendDueDateOptions,
)


class CapturesApi(BaseApi):
    """A Controller to access Endpoints in the klarna API."""

    def __init__(self, config):
        """Initialize CapturesApi object."""
        super(CapturesApi, self).__init__(config)

    def capture_order(self,
                      order_id,
                      body,
                      klarna_idempotency_key=None):
        """Perform a POST request to
        /ordermanagement/v1/orders/{order_id}/captures.

        Create capture. Read more on [Capturing an
        order](https://docs.klarna.com/order-management/delivery/full-capture/)

        Args:
            order_id (str): Order id
            body (CaptureObject): The request body parameter.
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Capture created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/captures")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("403",
                "Capture not allowed.",
                CaptureNotAllowedErrorMessageException)
            .local_error("404", "Order not found.", NoSuchOrderErrorMessageException),
        ).execute()

    def get_captures(self,
                     order_id):
        """Perform a GET request to
        /ordermanagement/v1/orders/{order_id}/captures.

        List all order captures

        Args:
            order_id (str): Order id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Captures found.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/captures")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Capture.from_dictionary)
            .is_api_response(True)
            .local_error("404", "Order not found.", NoSuchOrderErrorMessageException),
        ).execute()

    def get_capture(self,
                    order_id,
                    capture_id):
        """Perform a GET request to
        /ordermanagement/v1/orders/{order_id}/captures/{capture_id}.

        Retrieve the details of a capture. To learn more, refer to the [Retrieving
        capture
        details](https://docs.klarna.com/order-management/post-delivery/capture-detail
        s/) article.

        Args:
            order_id (str): Order id
            capture_id (str): Capture id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Capture found.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/captures/{capture_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("capture_id")
                .value(capture_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Capture.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "Order or capture not found.",
                NoSuchOrderErrorMessageException),
        ).execute()

    def extend_due_date(self,
                        order_id,
                        capture_id,
                        body,
                        klarna_idempotency_key=None):
        """Perform a PATCH request to
        /ordermanagement/v1/orders/{order_id}/captures/{capture_id}/extend-due-date.

        Extend the customer's payment due date. Read more on [Extending customer due
        dates](https://docs.klarna.com/payments/after-payments/order-management/manage
        -orders-with-the-api/refund-orders-and-manage-authorizations/#extend-payment-d
        ate)

        Args:
            order_id (str): Order id
            capture_id (str): Capture id
            body (ExtendDueDateRequest): The request body parameter.
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Due date was extended.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/captures/{capture_id}/extend-due-date")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("capture_id")
                .value(capture_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("403",
                "Extension of due date is not possible.",
                ErrorMessageDtoException)
            .local_error("404",
                "Order or capture not found.",
                ErrorMessageDtoException),
        ).execute()

    def get_options_for_extend_due_date(self,
                                        order_id,
                                        capture_id):
        """Perform a GET request to
        /ordermanagement/v1/orders/{order_id}/captures/{capture_id}/extend-due-date-opt
        ions.

        Get merchant fees for extension of due date due date

        Args:
            order_id (str): Order id
            capture_id (str): Capture id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Available options found
                for capture.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/captures/{capture_id}/extend-due-date-options")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("capture_id")
                .value(capture_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExtendDueDateOptions.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "Order or capture not found.",
                ErrorMessageDtoException),
        ).execute()

    def append_shipping_info(self,
                             order_id,
                             capture_id,
                             body,
                             klarna_idempotency_key=None):
        """Perform a POST request to
        /ordermanagement/v1/orders/{order_id}/captures/{capture_id}/shipping-info.

        Add shipping info to a capture. Read more on [Adding shipping
        info](https://docs.klarna.com/order-management/post-delivery/add-capture-shipp
        ing-details/)

        Args:
            order_id (str): Order id
            capture_id (str): Capture id
            body (UpdateShippingInfo): The request body parameter.
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Shipping information
                was appended.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/captures/{capture_id}/shipping-info")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("capture_id")
                .value(capture_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("403",
                "Order has no captures.",
                NotAllowedErrorMessageException)
            .local_error("404",
                "Order or capture not found.",
                NoSuchOrderErrorMessageException),
        ).execute()

    def trigger_send_out(self,
                         order_id,
                         capture_id,
                         klarna_idempotency_key=None):
        """Perform a POST request to
        /ordermanagement/v1/orders/{order_id}/captures/{capture_id}/trigger-send-out.

        Trigger resend of customer communication. Read more on [Resending customer
        communication](https://docs.klarna.com/order-management/post-delivery/trigger-
        customer-send-out/)

        Args:
            order_id (str): Order id
            capture_id (str): Capture id
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Send out was triggered

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/captures/{capture_id}/trigger-send-out")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("capture_id")
                .value(capture_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("403",
                "Order has no captures.",
                NotAllowedErrorMessageException)
            .local_error("404",
                "Order or capture not found.",
                NoSuchCaptureErrorMessageException),
        ).execute()
