"""klarna.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from klarna.api_helper import APIHelper
from klarna.apis.base_api import BaseApi
from klarna.configuration import Server
from klarna.exceptions.cancel_not_allowed_error_message_exception import (
    CancelNotAllowedErrorMessageException,
)
from klarna.exceptions.no_such_order_error_message_exception import (
    NoSuchOrderErrorMessageException,
)
from klarna.exceptions.not_allowed_error_message_exception import (
    NotAllowedErrorMessageException,
)
from klarna.http.http_method_enum import HttpMethodEnum
from klarna.models.merchant_order_dto import (
    MerchantOrderDto,
)


class OrdersApi(BaseApi):
    """A Controller to access Endpoints in the klarna API."""

    def __init__(self, config):
        """Initialize OrdersApi object."""
        super(OrdersApi, self).__init__(config)

    def get_order(self,
                  order_id,
                  klarna_integrator=None):
        """Perform a GET request to /ordermanagement/v1/orders/{order_id}.

        An order that has the given order id. Read more on [Retrieving order
        details](https://docs.klarna.com/order-management/pre-delivery/order-details/)

        Args:
            order_id (str): Order id
            klarna_integrator (str, optional): The request header parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Order found

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Klarna-Integrator")
                .value(klarna_integrator))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MerchantOrderDto.from_dictionary)
            .is_api_response(True)
            .local_error("404", "Order not found", NoSuchOrderErrorMessageException),
        ).execute()

    def acknowledge_order(self,
                          order_id,
                          klarna_idempotency_key=None):
        """Perform a POST request to
        /ordermanagement/v1/orders/{order_id}/acknowledge.

        Acknowledge order. Read more on [Acknowledging
        orders](https://docs.klarna.com/order-management/pre-delivery/acknowledge-kco-
        order/)

        Args:
            order_id (str): Order id
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Order was acknowledged.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/acknowledge")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("403",
                "Update not allowed.",
                NotAllowedErrorMessageException)
            .local_error("404", "Order not found.", NoSuchOrderErrorMessageException),
        ).execute()

    def update_authorization(self,
                             order_id,
                             body,
                             klarna_idempotency_key=None):
        """Perform a PATCH request to
        /ordermanagement/v1/orders/{order_id}/authorization.

        Set new order amount and order lines. Read more on [Updating
        orders](https://docs.klarna.com/order-management/pre-delivery/update-order-amo
        unt/)

        Args:
            order_id (str): Order id
            body (UpdateAuthorization): The request body parameter.
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Authorization was
                updated.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/authorization")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("403",
                "Update authorization not allowed. Decision is based on order state a"
                "nd outcome of risk assessment.",
                NotAllowedErrorMessageException),
        ).execute()

    def update_consumer_details(self,
                                order_id,
                                body,
                                klarna_idempotency_key=None):
        """Perform a PATCH request to
        /ordermanagement/v1/orders/{order_id}/customer-details.

        Update shipping address. Read more on [Updating customer
        addresses](https://docs.klarna.com/order-management/pre-delivery/update-custom
        er-address/)

        Args:
            order_id (str): Order id
            body (UpdateConsumer): The request body parameter.
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Order consumer details
                were updated.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/customer-details")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("403",
                "Update customer details not allowed. Decision is based on order stat"
                "e and outcome of risk assessment. Billing address cannot be updated."
                "",
                NotAllowedErrorMessageException),
        ).execute()

    def extend_authorization_time(self,
                                  order_id,
                                  klarna_idempotency_key=None):
        """Perform a POST request to
        /ordermanagement/v1/orders/{order_id}/extend-authorization-time.

        Extend authorization time endpoints provide flexibility when unexpected
        delays occur, however if long fulfillment periods are standard business
        model, then the extension of authorizations should be defined as part of the
        onboarding. Read more on [Extending order authorization
        time](https://docs.klarna.com/payments/web-payments/additional-resources/use-c
        ases/extended-authorization-expiration/)

        Args:
            order_id (str): Order id
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Authorization time was
                extended.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/extend-authorization-time")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("403",
                "Extension of authorization time not allowed. The order being expired"
                " or cancelled are among the possible causes.",
                NotAllowedErrorMessageException),
        ).execute()

    def update_merchant_references(self,
                                   order_id,
                                   body,
                                   klarna_idempotency_key=None):
        """Perform a PATCH request to
        /ordermanagement/v1/orders/{order_id}/merchant-references.

        Update merchant references. Read more on [Updating merchant
        references](https://docs.klarna.com/order-management/pre-delivery/update-merch
        ant-references/)

        Args:
            order_id (str): Order id
            body (UpdateMerchantReferences): The request body parameter.
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Order merchant
                references were updated.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/merchant-references")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("403",
                "Can not update a cancelled order.",
                NotAllowedErrorMessageException),
        ).execute()

    def release_remaining_authorization(self,
                                        order_id,
                                        klarna_idempotency_key=None):
        """Perform a POST request to
        /ordermanagement/v1/orders/{order_id}/release-remaining-authorization.

        Release remaining authorization. Read more on [Releasing remaining
        authorization](https://docs.klarna.com/payments/after-payments/order-managemen
        t/manage-orders-with-the-api/refund-orders-and-manage-authorizations/#release-
        order-authorization)

        Args:
            order_id (str): Order id
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Remaining authorization
                was released.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/release-remaining-authorization")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("403",
                "Can not release when order is cancelled or has no captures.",
                NotAllowedErrorMessageException),
        ).execute()

    def append_order_shipping_info(self,
                                   order_id,
                                   body,
                                   klarna_idempotency_key=None):
        """Perform a POST request to
        /ordermanagement/v1/orders/{order_id}/shipping-info.

        Add shipping info to an order. Read more on [Adding shipping
        info](https://docs.klarna.com/order-management/manage-orders-with-the-api/view
        -and-change-orders/add-shipping-information/)

        Args:
            order_id (str): Order id
            body (UpdateShippingInfo): The request body parameter.
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Shipping information
                was appended.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/shipping-info")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("404", "Order not found.", NoSuchOrderErrorMessageException),
        ).execute()

    def cancel_order(self,
                     order_id,
                     klarna_idempotency_key=None):
        """Perform a POST request to
        /ordermanagement/v1/orders/{order_id}/cancel.

        Cancel order. Read more on [Cancelling an
        order](https://docs.klarna.com/order-management/pre-delivery/cancel-order/)

        Args:
            order_id (str): Order id
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Order was cancelled.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/cancel")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("403",
                "Cancel not allowed (e.g. order has captures or is closed)",
                CancelNotAllowedErrorMessageException),
        ).execute()
