"""klarna.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from klarna.api_helper import APIHelper
from klarna.apis.base_api import BaseApi
from klarna.configuration import Server
from klarna.exceptions.access_error_rate_limited_error_exception import (
    AccessErrorRateLimitedErrorException,
)
from klarna.exceptions.access_error_unauthorized_error_exception import (
    AccessErrorUnauthorizedErrorException,
)
from klarna.exceptions.api_exception import (
    ApiException,
)
from klarna.exceptions.input_error_validation_error_error_exception import (
    InputErrorValidationErrorErrorException,
)
from klarna.exceptions.resource_error_conflict_error_error_exception import (
    ResourceErrorConflictErrorErrorException,
)
from klarna.exceptions.resource_error_not_found_error_error_exception import (
    ResourceErrorNotFoundErrorErrorException,
)
from klarna.exceptions.resource_error_operation_forbidden_error_exception import (
    ResourceErrorOperationForbiddenErrorException,
)
from klarna.exceptions.technical_error_internal_error_error_exception import (
    TechnicalErrorInternalErrorErrorException,
)
from klarna.http.http_method_enum import HttpMethodEnum
from klarna.models.disputes_list import DisputesList
from klarna.models.payment_dispute_appeal_response import (
    PaymentDisputeAppealResponse,
)
from klarna.models.payment_dispute_evidence_request_response import (
    PaymentDisputeEvidenceRequestResponse,
)
from klarna.models.payment_dispute_new_attachment_response import (
    PaymentDisputeNewAttachmentResponse,
)
from klarna.models.v_4_payment_disputes_accept_loss_response import (
    V4PaymentDisputesAcceptLossResponse,
)
from klarna.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class PaymentDisputeApi(BaseApi):
    """A Controller to access Endpoints in the klarna API."""

    def __init__(self, config):
        """Initialize PaymentDisputeApi object."""
        super(PaymentDisputeApi, self).__init__(config)

    def enroll_merchant(self,
                        merchant_id):
        """Perform a POST request to
        /v4/payment/disputes/merchants/{merchant_id}/enroll.

        Activates dispute handling for a single merchant account. Partners are not
        allowed and cannot enroll individual merchants.

        Args:
            merchant_id (str): Merchant ID

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Merchant successfully
                onboarded or was onboarded already

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/payment/disputes/merchants/{merchant_id}/enroll")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("merchant_id")
                .value(merchant_id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("klarna_api_key")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("401",
                "Unauthorized, the request was not authorized.\n",
                AccessErrorUnauthorizedErrorException)
            .local_error("403",
                "Forbidden, insufficient privileges to perform the requested operatio"
                "n on the resource.\n",
                ResourceErrorOperationForbiddenErrorException)
            .local_error("429",
                "Too Many Requests, the request was rate limited.\n",
                AccessErrorRateLimitedErrorException)
            .local_error("500",
                "Internal Server Error, there was an unexpected error in the API.\n",
                TechnicalErrorInternalErrorErrorException),
        ).execute()

    def enroll_partner(self,
                       partner_id,
                       body):
        """Perform a POST request to
        /v4/payment/disputes/partners/{partner_id}/enroll.

        Activates dispute handling for a partner account. Merchants are not allowed
        and cannot enroll a partner.

        Args:
            partner_id (str): Partner ID
            body (SelfOnboardPartnerRequestPayload): Request body for self onboarding

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Partner successfully
                onboarded or was onboarded already

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/payment/disputes/partners/{partner_id}/enroll")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("partner_id")
                .value(partner_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("klarna_api_key")),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("401",
                "Unauthorized, the request was not authorized.\n",
                AccessErrorUnauthorizedErrorException)
            .local_error("403",
                "Forbidden, insufficient privileges to perform the requested operatio"
                "n on the resource.\n",
                ResourceErrorOperationForbiddenErrorException)
            .local_error("429",
                "Too Many Requests, the request was rate limited.\n",
                AccessErrorRateLimitedErrorException)
            .local_error("500",
                "Internal Server Error, there was an unexpected error in the API.\n",
                TechnicalErrorInternalErrorErrorException),
        ).execute()

    def list_disputes(self,
                      order_ids=None,
                      payment_transaction_ids=None,
                      state=None,
                      reason=None,
                      sort_by=None,
                      purchase_references=None,
                      created_at_start=None,
                      created_at_end=None,
                      closed_at_start=None,
                      closed_at_end=None,
                      updated_at_start=None,
                      updated_at_end=None,
                      size=None,
                      starting_after=None,
                      klarna_integration_metadata=None,
                      partner_correlation_id=None):
        """Perform a GET request to /v4/payment/disputes.

        Retrieve a list of disputes. Filter by payment transaction ids, state,
        reason, purchase references, dispute creation date (created_at), or dispute
        closing date (closed_at).

        Args:
            order_ids (List[str], optional): Order IDs to filter by
            payment_transaction_ids (List[str], optional): Payment Transaction IDs to
                filter by
            state (List[PaymentDisputeState], optional): States of disputes to filter
                by
            reason (List[PaymentDisputeReason], optional): Dispute reasons to filter
                by
            sort_by (List[SortBy], optional): Specifies in which order to sort the
                results. Then results are ordered in ascending order if not prefixed
                by a - which orders by descending order.
            purchase_references (List[str], optional): Purchase references to filter
                by
            created_at_start (datetime, optional): Used to filter by dispute creation
                dates. Only disputes created after (including) the supplied value
                will be returned.
            created_at_end (datetime, optional): Used to filter by dispute creation
                dates. Only disputes created before (excluding) the supplied value
                will be returned.
            closed_at_start (datetime, optional): Used to filter by dispute closing
                dates. Only disputes closed after (including) the supplied value will
                be returned.
            closed_at_end (datetime, optional): Used to filter by dispute closing
                dates. Only disputes closed before (excluding) the supplied value
                will be returned.
            updated_at_start (datetime, optional): Used to filter by dispute last
                update dates. Only disputes updated after (including) the supplied
                value will be returned.
            updated_at_end (datetime, optional): Used to filter by dispute last
                update dates. Only disputes updated before (excluding) the supplied
                value will be returned.
            size (int, optional): Limits the number of items to be returned. If
                omitted, the default page size will be used.
            starting_after (str, optional): A cursor used in pagination, referring to
                a specific item. The `last_item` returned from a previous call can be
                used here. The next page will list items after this item. Cannot be
                used together with `ending_before`. If both `starting_after` and
                `ending_before` are omitted, the first page will be returned.
            klarna_integration_metadata (ApplicationJson, optional): Metadata about
                the integrator and originators of the request, a valid JSON object
                string literal, to improve troubleshooting. [Read more
                here](https://docs.klarna.com/api/kn/integration-resilience/#tagging)
                The header value as appearing on the wire should be a JSON object
                string literal without newlines as produced by `JSON.stringify()`.
                Example: `Klarna-Integration-Metadata:
                {"integrator":{"name":"AcquiringPartner","session_reference":"ecomm_55
                55-474","module_name":"subIntegrationPath","module_version":"v1.0"},"o
                riginators":[{"name":"ecommerceCompany","session_reference":"ecomm_555
                5-474","module_name":"subIntegrationPath","module_version":"v2.0"}]}`
            partner_correlation_id (str, optional): The request header parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A paginated list of
                authorized disputes

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/payment/disputes")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("order_ids")
                .value(order_ids))
            .query_param(Parameter()
                .key("payment_transaction_ids")
                .value(payment_transaction_ids))
            .query_param(Parameter()
                .key("state")
                .value(state))
            .query_param(Parameter()
                .key("reason")
                .value(reason))
            .query_param(Parameter()
                .key("sort_by")
                .value(sort_by))
            .query_param(Parameter()
                .key("purchase_references")
                .value(purchase_references))
            .query_param(Parameter()
                .key("created_at_start")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    created_at_start)))
            .query_param(Parameter()
                .key("created_at_end")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    created_at_end)))
            .query_param(Parameter()
                .key("closed_at_start")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    closed_at_start)))
            .query_param(Parameter()
                .key("closed_at_end")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    closed_at_end)))
            .query_param(Parameter()
                .key("updated_at_start")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    updated_at_start)))
            .query_param(Parameter()
                .key("updated_at_end")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    updated_at_end)))
            .query_param(Parameter()
                .key("size")
                .value(size))
            .query_param(Parameter()
                .key("starting_after")
                .value(starting_after))
            .header_param(Parameter()
                .key("Klarna-Integration-Metadata")
                .value(klarna_integration_metadata))
            .header_param(Parameter()
                .key("Partner-Correlation-Id")
                .value(partner_correlation_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("klarna_api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DisputesList.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request, there was an error in the input of the request.\nThe re"
                "quest can not be retried without modifications.\n",
                ApiException)
            .local_error("401",
                "Unauthorized, the request was not authorized.\n",
                AccessErrorUnauthorizedErrorException)
            .local_error("403",
                "Forbidden, insufficient privileges to perform the requested operatio"
                "n on the resource.\n",
                ResourceErrorOperationForbiddenErrorException)
            .local_error("404",
                "Not Found, the requested resource was not found.\n",
                ResourceErrorNotFoundErrorErrorException)
            .local_error("429",
                "Too Many Requests, the request was rate limited.\n",
                AccessErrorRateLimitedErrorException)
            .local_error("500",
                "Internal Server Error, there was an unexpected error in the API.\n",
                TechnicalErrorInternalErrorErrorException),
        ).execute()

    def get_dispute_details(self,
                            payment_dispute_id,
                            klarna_integration_metadata=None,
                            partner_correlation_id=None):
        """Perform a GET request to /v4/payment/disputes/{payment_dispute_id}.

        Retrieve the dispute in its current state.

        Args:
            payment_dispute_id (str): ID of dispute to fetch
            klarna_integration_metadata (ApplicationJson, optional): Metadata about
                the integrator and originators of the request, a valid JSON object
                string literal, to improve troubleshooting. [Read more
                here](https://docs.klarna.com/api/kn/integration-resilience/#tagging)
                The header value as appearing on the wire should be a JSON object
                string literal without newlines as produced by `JSON.stringify()`.
                Example: `Klarna-Integration-Metadata:
                {"integrator":{"name":"AcquiringPartner","session_reference":"ecomm_55
                55-474","module_name":"subIntegrationPath","module_version":"v1.0"},"o
                riginators":[{"name":"ecommerceCompany","session_reference":"ecomm_555
                5-474","module_name":"subIntegrationPath","module_version":"v2.0"}]}`
            partner_correlation_id (str, optional): The request header parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Complete dispute with
                all requests and responses

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/payment/disputes/{payment_dispute_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("payment_dispute_id")
                .value(payment_dispute_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Klarna-Integration-Metadata")
                .value(klarna_integration_metadata))
            .header_param(Parameter()
                .key("Partner-Correlation-Id")
                .value(partner_correlation_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("klarna_api_key")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("PaymentDisputeBody"), value))
            .is_api_response(True)
            .local_error("400",
                "Bad Request, there was an error in the input of the request.\nThe re"
                "quest can not be retried without modifications.\n",
                ApiException)
            .local_error("401",
                "Unauthorized, the request was not authorized.\n",
                AccessErrorUnauthorizedErrorException)
            .local_error("404",
                "Not Found, the requested resource was not found.\n",
                ResourceErrorNotFoundErrorErrorException)
            .local_error("429",
                "Too Many Requests, the request was rate limited.\n",
                AccessErrorRateLimitedErrorException)
            .local_error("500",
                "Internal Server Error, there was an unexpected error in the API.\n",
                TechnicalErrorInternalErrorErrorException),
        ).execute()

    def accept_loss(self,
                    payment_dispute_id,
                    klarna_integration_metadata=None,
                    partner_correlation_id=None):
        """Perform a POST request to
        /v4/payment/disputes/{payment_dispute_id}/accept-loss.

        Use this endpoint to accept the loss of the dispute when the dispute is in
        `INITIATED` or `PRE_ARBITRATION` state. The dispute will transition to state
        `CLOSED` with outcome `LOST`.

        Args:
            payment_dispute_id (str): ID of dispute to accept
            klarna_integration_metadata (ApplicationJson, optional): Metadata about
                the integrator and originators of the request, a valid JSON object
                string literal, to improve troubleshooting. [Read more
                here](https://docs.klarna.com/api/kn/integration-resilience/#tagging)
                The header value as appearing on the wire should be a JSON object
                string literal without newlines as produced by `JSON.stringify()`.
                Example: `Klarna-Integration-Metadata:
                {"integrator":{"name":"AcquiringPartner","session_reference":"ecomm_55
                55-474","module_name":"subIntegrationPath","module_version":"v1.0"},"o
                riginators":[{"name":"ecommerceCompany","session_reference":"ecomm_555
                5-474","module_name":"subIntegrationPath","module_version":"v2.0"}]}`
            partner_correlation_id (str, optional): The request header parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Acceptance was
                submitted successfully

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/payment/disputes/{payment_dispute_id}/accept-loss")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("payment_dispute_id")
                .value(payment_dispute_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Klarna-Integration-Metadata")
                .value(klarna_integration_metadata))
            .header_param(Parameter()
                .key("Partner-Correlation-Id")
                .value(partner_correlation_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("klarna_api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V4PaymentDisputesAcceptLossResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request, there was an error in the input of the request.\nThe re"
                "quest can not be retried without modifications.\n",
                ApiException)
            .local_error("401",
                "Unauthorized, the request was not authorized.\n",
                AccessErrorUnauthorizedErrorException)
            .local_error("404",
                "Not Found, the requested resource was not found.\n",
                ResourceErrorNotFoundErrorErrorException)
            .local_error("409",
                "The dispute is not in a state where it can be accepted, or the accep"
                "tance type is not valid for the current state. Read the error detail"
                "s for further information.",
                ResourceErrorConflictErrorErrorException)
            .local_error("429",
                "Too Many Requests, the request was rate limited.\n",
                AccessErrorRateLimitedErrorException)
            .local_error("500",
                "Internal Server Error, there was an unexpected error in the API.\n",
                TechnicalErrorInternalErrorErrorException),
        ).execute()

    def respond_to_dispute_request(self,
                                   payment_dispute_id,
                                   body,
                                   klarna_integration_metadata=None,
                                   partner_correlation_id=None):
        """Perform a POST request to
        /v4/payment/disputes/{payment_dispute_id}/represent.

        Use this endpoint to submit partner information by providing a document
        containing all relevant information when the dispute is in `INITIATED` state.
        Optionally, include `partner_proposed_refund_amount` to propose a partial
        refund while providing evidence for why the remaining amount should not be
        refunded.
        The dispute will transition to state `REPRESENTMENT` for Klarna review after
        submission.

        Args:
            payment_dispute_id (str): ID of dispute for which the request to add
                response to belongs
            body (PaymentDisputeRespondToEvidenceRequestPayload): Payload to respond
                to a dispute request for representment
            klarna_integration_metadata (ApplicationJson, optional): Metadata about
                the integrator and originators of the request, a valid JSON object
                string literal, to improve troubleshooting. [Read more
                here](https://docs.klarna.com/api/kn/integration-resilience/#tagging)
                The header value as appearing on the wire should be a JSON object
                string literal without newlines as produced by `JSON.stringify()`.
                Example: `Klarna-Integration-Metadata:
                {"integrator":{"name":"AcquiringPartner","session_reference":"ecomm_55
                55-474","module_name":"subIntegrationPath","module_version":"v1.0"},"o
                riginators":[{"name":"ecommerceCompany","session_reference":"ecomm_555
                5-474","module_name":"subIntegrationPath","module_version":"v2.0"}]}`
            partner_correlation_id (str, optional): The request header parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Dispute's representment
                request response was submitted successfully

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/payment/disputes/{payment_dispute_id}/represent")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("payment_dispute_id")
                .value(payment_dispute_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Integration-Metadata")
                .value(klarna_integration_metadata))
            .header_param(Parameter()
                .key("Partner-Correlation-Id")
                .value(partner_correlation_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("klarna_api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentDisputeEvidenceRequestResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad request. Invalid parameters provided. Common errors include part"
                "ner_proposed_refund_amount being equal to or greater than the full d"
                "isputed amount.",
                InputErrorValidationErrorErrorException)
            .local_error("401",
                "Unauthorized, the request was not authorized.\n",
                AccessErrorUnauthorizedErrorException)
            .local_error("403",
                "Forbidden, insufficient privileges to perform the requested operatio"
                "n on the resource.\n",
                ResourceErrorOperationForbiddenErrorException)
            .local_error("404",
                "Not Found, the requested resource was not found.\n",
                ResourceErrorNotFoundErrorErrorException)
            .local_error("409",
                "The dispute is not in a state where representment can be submitted.",
                ResourceErrorConflictErrorErrorException)
            .local_error("429",
                "Too Many Requests, the request was rate limited.\n",
                AccessErrorRateLimitedErrorException)
            .local_error("500",
                "Internal Server Error, there was an unexpected error in the API.\n",
                TechnicalErrorInternalErrorErrorException),
        ).execute()

    def appeal_dispute(self,
                       payment_dispute_id,
                       body,
                       klarna_integration_metadata=None,
                       partner_correlation_id=None):
        """Perform a POST request to
        /v4/payment/disputes/{payment_dispute_id}/appeal.

        Use this endpoint to submit an appeal for a preliminary dispute decision by
        providing a summary of the reasons why the decision is considered incorrect
        when the dispute is in `PRE_ARBITRATION` state. The dispute will transition
        to state `ARBITRATION` while Klarna will review the appeal information.

        Args:
            payment_dispute_id (str): ID of dispute to appeal
            body (V4PaymentDisputesAppealRequest): The request body parameter.
            klarna_integration_metadata (ApplicationJson, optional): Metadata about
                the integrator and originators of the request, a valid JSON object
                string literal, to improve troubleshooting. [Read more
                here](https://docs.klarna.com/api/kn/integration-resilience/#tagging)
                The header value as appearing on the wire should be a JSON object
                string literal without newlines as produced by `JSON.stringify()`.
                Example: `Klarna-Integration-Metadata:
                {"integrator":{"name":"AcquiringPartner","session_reference":"ecomm_55
                55-474","module_name":"subIntegrationPath","module_version":"v1.0"},"o
                riginators":[{"name":"ecommerceCompany","session_reference":"ecomm_555
                5-474","module_name":"subIntegrationPath","module_version":"v2.0"}]}`
            partner_correlation_id (str, optional): The request header parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Appeal was submitted
                successfully

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/payment/disputes/{payment_dispute_id}/appeal")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("payment_dispute_id")
                .value(payment_dispute_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Integration-Metadata")
                .value(klarna_integration_metadata))
            .header_param(Parameter()
                .key("Partner-Correlation-Id")
                .value(partner_correlation_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("klarna_api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentDisputeAppealResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request, there was an error in the input of the request.\nThe re"
                "quest can not be retried without modifications.\n",
                ApiException)
            .local_error("401",
                "Unauthorized, the request was not authorized.\n",
                AccessErrorUnauthorizedErrorException)
            .local_error("403",
                "Forbidden, insufficient privileges to perform the requested operatio"
                "n on the resource.\n",
                ResourceErrorOperationForbiddenErrorException)
            .local_error("404",
                "Not Found, the requested resource was not found.\n",
                ResourceErrorNotFoundErrorErrorException)
            .local_error("409",
                "The dispute is not in a state where an appeal can be submitted. Read"
                " the error details for further information.",
                ResourceErrorConflictErrorErrorException)
            .local_error("429",
                "Too Many Requests, the request was rate limited.\n",
                AccessErrorRateLimitedErrorException)
            .local_error("500",
                "Internal Server Error, there was an unexpected error in the API.\n",
                TechnicalErrorInternalErrorErrorException),
        ).execute()

    def upload_attachment(self,
                          payment_dispute_id,
                          file,
                          klarna_integration_metadata=None,
                          partner_correlation_id=None,
                          filename=None):
        """Perform a POST request to
        /v4/payment/disputes/{payment_dispute_id}/attachments.

        Upload a partner evidence attachment using multipart/form-data. The response
        returns a `payment_dispute_attachment_id` that you can reference when using
        the respond endpoint. Supported file types: PDF, JPEG, PNG, and DOCX. Maximum
        file size is 7MB.

        Args:
            payment_dispute_id (str): ID of dispute for which the request to add
                response to belongs
            file (typing.BinaryIO): The file to upload as binary data. This field is
                required and must contain the actual file content. Supported file
                types are: PDF (.pdf), JPEG (.jpg, .jpeg), PNG (.png), and Word
                documents (.docx). Maximum file size is 7MB.
            klarna_integration_metadata (ApplicationJson, optional): Metadata about
                the integrator and originators of the request, a valid JSON object
                string literal, to improve troubleshooting. [Read more
                here](https://docs.klarna.com/api/kn/integration-resilience/#tagging)
                The header value as appearing on the wire should be a JSON object
                string literal without newlines as produced by `JSON.stringify()`.
                Example: `Klarna-Integration-Metadata:
                {"integrator":{"name":"AcquiringPartner","session_reference":"ecomm_55
                55-474","module_name":"subIntegrationPath","module_version":"v1.0"},"o
                riginators":[{"name":"ecommerceCompany","session_reference":"ecomm_555
                5-474","module_name":"subIntegrationPath","module_version":"v2.0"}]}`
            partner_correlation_id (str, optional): The request header parameter.
            filename (str, optional): Optional filename for the uploaded attachment.
                If not provided, the original filename from the uploaded file will be
                used. If provided, the file extension must match the extension of the
                uploaded file. Maximum length is 1000 characters (excluding the file
                extension).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Attachment uploaded
                successfully

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/payment/disputes/{payment_dispute_id}/attachments")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("payment_dispute_id")
                .value(payment_dispute_id)
                .is_required(True)
                .should_encode(True))
            .multipart_param(Parameter()
                .key("file")
                .value(file)
                .default_content_type("application/octet-stream")
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Integration-Metadata")
                .value(klarna_integration_metadata))
            .header_param(Parameter()
                .key("Partner-Correlation-Id")
                .value(partner_correlation_id))
            .form_param(Parameter()
                .key("filename")
                .value(filename))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("klarna_api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentDisputeNewAttachmentResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request, there was an error in the input of the request.\nThe re"
                "quest can not be retried without modifications.\n",
                ApiException)
            .local_error("401",
                "Unauthorized, the request was not authorized.\n",
                AccessErrorUnauthorizedErrorException)
            .local_error("403",
                "Forbidden, insufficient privileges to perform the requested operatio"
                "n on the resource.\n",
                ResourceErrorOperationForbiddenErrorException)
            .local_error("404",
                "Not Found, the requested resource was not found.\n",
                ResourceErrorNotFoundErrorErrorException)
            .local_error("409",
                "The dispute is not in a state where attachments can be uploaded. Thi"
                "s can occur if the partner has already submitted evidence for this d"
                "ispute.",
                ResourceErrorConflictErrorErrorException)
            .local_error("429",
                "Too Many Requests, the request was rate limited.\n",
                AccessErrorRateLimitedErrorException)
            .local_error("500",
                "Internal Server Error, there was an unexpected error in the API.\n",
                TechnicalErrorInternalErrorErrorException),
        ).execute()

    def get_dispute_attachment(self,
                               payment_dispute_id,
                               payment_dispute_attachment_id,
                               klarna_integration_metadata=None,
                               partner_correlation_id=None):
        """Perform a GET request to
        /v4/payment/disputes/{payment_dispute_id}/attachments/{payment_dispute_attachme
        nt_id}/download.

        Download an attachment file associated with the dispute. This can be either a
        partner-submitted evidence attachment or a customer-provided evidence
        attachment. If the attachment_id does not belong to the specified dispute_id,
        a 404 error will be returned.

        Args:
            payment_dispute_id (str): ID of dispute to fetch
            payment_dispute_attachment_id (str): ID of attachment to fetch
            klarna_integration_metadata (ApplicationJson, optional): Metadata about
                the integrator and originators of the request, a valid JSON object
                string literal, to improve troubleshooting. [Read more
                here](https://docs.klarna.com/api/kn/integration-resilience/#tagging)
                The header value as appearing on the wire should be a JSON object
                string literal without newlines as produced by `JSON.stringify()`.
                Example: `Klarna-Integration-Metadata:
                {"integrator":{"name":"AcquiringPartner","session_reference":"ecomm_55
                55-474","module_name":"subIntegrationPath","module_version":"v1.0"},"o
                riginators":[{"name":"ecommerceCompany","session_reference":"ecomm_555
                5-474","module_name":"subIntegrationPath","module_version":"v2.0"}]}`
            partner_correlation_id (str, optional): The request header parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Attachment was
                downloaded successfully. The response contains the attachment file in
                its original format as binary data, with appropriate Content-Type and
                Content-Disposition headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/payment/disputes/{payment_dispute_id}/attachments/{payment_dispute_attachment_id}/download")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("payment_dispute_id")
                .value(payment_dispute_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("payment_dispute_attachment_id")
                .value(payment_dispute_attachment_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Klarna-Integration-Metadata")
                .value(klarna_integration_metadata))
            .header_param(Parameter()
                .key("Partner-Correlation-Id")
                .value(partner_correlation_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("klarna_api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True)
            .local_error("400",
                "Bad Request, there was an error in the input of the request.\nThe re"
                "quest can not be retried without modifications.\n",
                ApiException)
            .local_error("401",
                "Unauthorized, the request was not authorized.\n",
                AccessErrorUnauthorizedErrorException)
            .local_error("403",
                "Forbidden, insufficient privileges to perform the requested operatio"
                "n on the resource.\n",
                ResourceErrorOperationForbiddenErrorException)
            .local_error("404",
                "Not Found, the requested resource was not found.\n",
                ResourceErrorNotFoundErrorErrorException)
            .local_error("429",
                "Too Many Requests, the request was rate limited.\n",
                AccessErrorRateLimitedErrorException)
            .local_error("500",
                "Internal Server Error, there was an unexpected error in the API.\n",
                TechnicalErrorInternalErrorErrorException),
        ).execute()
