"""klarna.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from klarna.api_helper import APIHelper
from klarna.apis.base_api import BaseApi
from klarna.configuration import Server
from klarna.exceptions.not_found_error_message_exception import (
    NotFoundErrorMessageException,
)
from klarna.exceptions.refund_not_allowed_error_message_exception import (
    RefundNotAllowedErrorMessageException,
)
from klarna.http.http_method_enum import HttpMethodEnum
from klarna.models.refund import Refund


class RefundsApi(BaseApi):
    """A Controller to access Endpoints in the klarna API."""

    def __init__(self, config):
        """Initialize RefundsApi object."""
        super(RefundsApi, self).__init__(config)

    def refund_order(self,
                     order_id,
                     body,
                     klarna_idempotency_key=None):
        """Perform a POST request to
        /ordermanagement/v1/orders/{order_id}/refunds.

        Create a refund. Read more on
        [Refunds](https://docs.klarna.com/payments/after-payments/order-management/man
        age-orders-with-the-api/refund-orders-and-manage-authorizations/)

        Args:
            order_id (str): Order id
            body (RefundObject): The request body parameter.
            klarna_idempotency_key (str, optional): This header will guarantee the
                idempotency of the operation. The key should be unique and is
                recommended to be a UUID version 4. Retries of requests are safe to
                be applied in case of errors such as network errors, socket errors
                and timeouts. Input values of the operation are disregarded when
                evaluating the idempotency of the operation, only the key matters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Refund created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/refunds")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Klarna-Idempotency-Key")
                .value(klarna_idempotency_key))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("403",
                "Refund not allowed",
                RefundNotAllowedErrorMessageException)
            .local_error("404", "Order not found.", NotFoundErrorMessageException),
        ).execute()

    def get(self,
            order_id,
            refund_id):
        """Perform a GET request to
        /ordermanagement/v1/orders/{order_id}/refunds/{refund_id}.

        Get refund.

        Args:
            order_id (str): Order id
            refund_id (str): Refund id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Refund found.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/ordermanagement/v1/orders/{order_id}/refunds/{refund_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("order_id")
                .value(order_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("refund_id")
                .value(refund_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Refund.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "Order or refund not found.",
                NotFoundErrorMessageException),
        ).execute()
